body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}
h1 {
    font-size: 4rem;
    margin: .25em 0em;
}

p {
    font-size: 1.2rem;
    margin: .5em 0em;
}
.desktop-nav {
    z-index: 1;
    width: 100%;
    top: 0;
    position: absolute;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1em 3em;
}
.nav-logo {
    width: 175px;
}
.nav-signUp {
    transition: all .1s ease-in;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: .5em .5em;
    border-radius: 4px;
}
.hero-p {
    font-size: 1.75rem;
    margin: .75em 0em;
}
.hero-container {
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/hero-bg.jpg');
    background-size: cover;
    flex-direction: column;
    position: relative;
    border-bottom: 8px solid #222;
}
.hero-content {
    z-index: 1;
    color: white;
    max-width: 900px;
    width: 80vw;
    text-align: center;
}
.hero-background-filter {
    background: rgb(0 0 0 / 53%);
    display: block;
    position: absolute;
    width: 100%;
    height: 75vh;
    z-index: 0;
}
#signup-form {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-transform: uppercase;
}
#signup-email{
    width: 52%;
    border: none;
    font-size: 1.5rem;
    padding: .5em .5em;
}
.signUp-btn {
    transition: all .1s ease-in;
    font-size: 1.5rem;
    background-color: #e50914;
    border: none;
    color: white;
    width: 25%;
    border-radius: 4px;
}
.signUp-btn:hover {
    background-color: #f40612;
}

.half-half {
    background: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-bottom: 8px solid #222;
    padding-top: 3em;
    padding-bottom: 3em;
}
.half-half-wrapper{
    max-width: 1400px;
    display: flex;
    width: 80vw;
} 
.copy-half {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0em 3em;
}
.copyHeader {
    font-size: 3rem;
}
.copyHalf {
    font-size: 1.75rem;
}
.video-half {
    width: 50%;
    display: block;
    position: relative;
    z-index: 5;
}
.halfVideo {
    display: block;
    position: absolute;
    bottom: 25%;
    width: 73%;
    right: 14%;
    z-index: -1;
}
.halfImage {
    display: block;
    z-index: 5;
    max-width: 100%;
    height: auto;
    border: 0;
}

.mobile-half {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}
.showThumbnail {
    max-width: 100%;
    height: auto;
}
.showDownloadBox {
    position: absolute;
    background-color: #000000;
    border: 8px solid #222;
    border-radius: 16px;
    bottom: 0;
    width: 50%;
    max-height: 120px;
    padding: 1em 2em;
    display: flex;
    font-size: 0.5rem;
    min-width: 350px;
}
.downloadThumbnail {
    width: 65px;
}
.dlThumb {

}
.dlText {
    font-size: 1.75em;
}
.dlText:nth-child(2){
    color: #0070e8;
}
.dlThumb {
    width: 33%;
}
.show-progress {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #0070e8;
}

.prev-halfimg {
    display: block;
    z-index: 5;
    max-width: 100%;
    height: auto;
    border: 0;
}
.prev-video-wrap {

}
.prevHalfVideo {
    display: block;
    position: absolute;
    bottom: 42%;
    width: 65%;
    right: 19%;
    z-index: -1;
}

.faq-wrapper {
    max-width: 1400px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq {
    background: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 8px solid #222;
    padding-top: 3em;
    padding-bottom: 3em;
}
.faqTitle{
    font-size: 3em;
    text-align: center;
}
.faqToggles {
    width: 650px;
}
.toggle-title {
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.25em;
    align-items: center;
}
.toggle-info {
    transition: all .3s ease;
    background-color: #303030;
    height: 0;
    opacity: 0;
}
.toggle:hover>.toggle-info {
    height: 100%;
    opacity: 1;
    margin-bottom: 5em;
    padding: 1em 2em
}
#post-signupForm {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width:45%;
    text-transform: uppercase;
}